In [1]:
import pandas as pd

In [2]:
data_loc = "../data/assigData2.tsv"

In [7]:
dataset = pd.read_csv(data_loc, sep="	")
dataset

        W_apl     W_orng      W_grp       D_apl     D_orng      D_grp
0    8.752749   6.320049   5.823010  1027.55150  1120.3609  887.14366
1    9.582232  11.608371   7.629106  1032.16570  1120.3279  865.54919
2   11.319934   9.005328   4.462647   921.79441  1101.8208  787.57037
3   10.762629  11.430149   5.825027  1013.87960  1142.6111  723.60044
4   14.026474  18.170749   5.415419  1089.06880  1099.7410  816.98529
..        ...        ...        ...         ...        ...        ...
95  12.143000  14.750007  15.842424  1027.62010  1108.3816  784.18999
96  11.668263  12.658687  16.273500   877.88373  1077.2507  750.83348
97  10.743676  11.522268  15.845430   952.60637  1097.3315  786.56656
98  10.769583  16.371864  13.710734   982.94329  1105.0141  776.29950
99  10.137569  10.041985  12.695647   966.12606  1080.4184  804.71196

[100 rows x 6 columns]

In [8]:
dataset.describe()

,W_apl,W_orng,W_grp,D_apl,D_orng,D_grp
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,11.003084,11.944999,8.733358,1006.707200,1114.833850,832.546227
std,1.183682,2.608950,4.978664,40.266294,19.580751,91.413247
min,7.094815,5.245410,2.068049,877.883730,1074.380900,617.264770
25%,10.144635,10.156451,4.565260,981.318962,1101.529275,774.050618
50%,11.005632,11.788300,5.824018,1011.181550,1115.484400,827.503205
75%,11.868002,13.799599,14.137330,1031.394175,1127.003600,879.719253
max,14.026474,18.170749,17.351712,1091.799800,1162.487000,1118.014800